.image {
  text-align: center;
  margin-bottom: 20px;

  img {
    max-width: 100%;
  }
}

.container {
  display: flex;
  width: var(--content-pc-width); /* Độ rộng tổng của container */
  margin-left: 12%;
}


.sidebar {
  width: 20%; /* Chiếm 30% tổng chiều rộng */
  margin-right: 13%;
}

.sidebar-list {
  width: 100%;

  .menu-list {
    font-size: 1.6rem;

    .item {
      position: relative;
      padding: 12px 0;
      border-bottom: 1px #efefef dotted;
      list-style-type: none;

      a {
        transition: color 0.3s;
        text-decoration: none;
        color: #0a1e3a;

        &:hover {
          color: var(--yellow-color);
          transition: color 0.3s;
        }
      }
    }
  }
}

.title {
  text-align: center;
}

.header {
  h3 {
    text-align: center;
  }

}

.left4 {
  margin-top: 10% !important;

}
