.productsType_container {
    color: #666666;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    align-items: flex-start;

    h2 {
        font-size: 1.3rem;
        text-transform: uppercase;
        color: #E57905;
    }

    .selected {
        font-weight: bold;
        color: #E57905;
    }

    .checkbox_wrap {
        .subcategory_list {
            cursor: pointer;
            display: block;
            line-height: 1.5rem;
            list-style-type: disc;
            padding: 0;
            margin: 0px 0px 10px 30px;
            padding-left: 20px;

            &.show {
                display: block;
            }
        }

        .subcategory_item::before {
            position: absolute;
            left: -15px;
            top: 50%;
            transform: translateY(-50%);
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #666666;
        }

        .subcategory_item:hover {
            color: #E57905;
        }
    }
}
